#footArea{
 position:absolute;  
 bottom: 0px; 
float:left;
font-family:'Helvetica Neue', sans-serif;

font-size: 14px;
padding-top: 5px;

z-index: 30;

text-align:center;
}

#headArea{
position:absolute;
float :left;

z-index: 20;
}

